.container.main-container
  .row
    %main.col-md-9
      %header
        %h1 Records#index
      %section
        %table.table
          %thead
            %tr
              %th{colspan: 2} Record
              %th Value
              %th TTL
              %th Active
          %tbody
            - @records.each do |record|
              %tr
                %td
                  = record.type_s
                %td
                  = record.name
                %td= record.value
                %td
                  = record.ttl_seconds
                  seconds
                %td= pretty_bool(record.active?)

    %aside.col-md-3
