.container.main-container
  .row
    %main.col-md-9
      %header
        %h1 Records#new_a
      %section
        = form_for record, url: records_path(record) do |f|
          %table.table
            %thead
              %tr
                %th{colspan: 2} Record
                %th Value
                %th TTL (seconds)
                %th Active
                %th Priority
                %th
            %tbody
              - @records.each do |record|
                = render record, record: record
              -if @record
                %tr
                  %td{colspan: 2}
                    .form-group
                      = f.label :name, class: 'sr-only'
                      .input-group
                        .input-group-addon= @record.type_s
                        = f.text_field :name, class: 'form-control', placeholder: 'Name'
                  %td
                    .form-group
                      = f.label :value, class: 'sr-only'
                      = f.text_field :value, class: 'form-control', placeholder: 'Value'
                  %td
                    .form-group
                      = f.label :ttl_seconds, class: 'sr-only'
                      = f.number_field :ttl_seconds, class: 'form-control', placeholder: 'TTL (seconds)', min: 0, step: 60
                  %td
                    .checkbox
                    = f.label :active, class: 'sr-only'
                    = f.check_box :active
                  %td
                  %td
                    = f.submit 'Create', class: %w(btn btn-primary)

      %section
        =render 'new_buttons'

    %aside.col-md-3
